
.bg-colour{
    background: linear-gradient(to right, #0066ff 0%, #99ccff 100%);

}
.icon_colour{
    color: #0066ff !important;;
}

.nav-link{
    color: white !important;
    font-weight: bold !important; 
}
