@font-face{
    font-family: "barbatrick";
    src:url(Font/barbatrick.ttf);
    font-style:normal;
    
}
@font-face{
    font-family: "Times_New_Roman_Gras_Italique_700";
    src:url(Font/Times_New_Roman_Gras_Italique_700.ttf);
    font-style:normal;
    
}
.bg-colour{
    background: linear-gradient(to right, #0066ff 0%, #99ccff 100%);

}
.bg_colour2{
    background: linear-gradient(to bottom, #0066ff 0%, #99ccff 100%);
}
.bg_icon_color2{
    color: #0D47A1;
}

.menu_colour{
    color: black !important;
}
.nav-link{
    margin-top: 10px;
    font-size: 20px;
    color: white !important;
    font-weight: bold !important;
    text-align: center !important; 
    margin: 4px 2px !important;
  transition: 0.3s !important;
}
.nav-link:hover {
    border-radius: 10px;
    background-color: #0D47A1;
  
}
.nav-link > p:hover{
    color: white !important;
}
.dropdown-item{
    
  transition: 0.3s !important;
    color: white !important;
    font-weight: bold !important;
    text-align: left!important; 
}
.dropdown-item:hover{
    
    background-color: #0D47A1 !important;
    color: white !important;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

/* Slider */
.carousel-control-prev-icon{
    background: linear-gradient(to right, #0066ff 0%, #99ccff 100%);
}
.carousel-control-next-icon{
    background: linear-gradient(to left, #0066ff 0%, #99ccff 100%);
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}




